html, body {
	background: #23648B;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	/* background: #23536D; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
	border-style: none;
}

#flash {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
  height: auto;
  
  background: #91EDA8;
  color: #000;
  border: #3BB85A;
}

.logobox {
	padding: 10px 0 5px 0;
	margin: 0 auto;
	max-width: 212px;
	max-height: 79px;
}

.wrap {
	width: 100%;
}


.header {
	min-width: 920px;
	min-height: 125px;
	background-color: #FF0;
	background:url('../images/nav_bar.png');
}

.nav {
	margin: 5px auto 0 auto;
	padding: 0 10px 0 10px;
	height: 40px;
	border-top: 1px #000 solid;
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
	width: 900px;
}

.nav ul {
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

.nav ul li {
	display: inline;
}

.nav ul li > a {
	color: #A5CEE4;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}

.nav ul li > a:hover {
	display: inline-block;
	padding: 10px;
	background: url('../images/a_under.png');
}

.nav ul.right {
	float:right;
	display: inline;
	list-style: none;
	color: #FFF; 
}



.content {
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
	border-bottom: 1px #000 solid;
	margin: 0 auto;
	padding: 10px;
	background-color: #156692;
	color: #FFF;
	width: 900px;	
}

.content a {
  color: #B6DFF5;
}
.content a:visited {
  color: #729BB1;
}