%h2
  New base token!
=form_for [@grid,@token] do |f|
  %p
    =f.label :character_id
    =collection_select(:token, :character_id, @characters, :id, :name, {:prompt => true})
  %p
    =f.label :image
    =f.text_field :image_url
  %p
    =f.label :turn_order
    =f.text_field :turn_order
  %p
    =f.submit