%p
	:markdown
		## Graphics
		
		I'd like to give a huge shout out to  
		- [~jycius](http://jycius.deviantart.com/ "Jycius @ deviantart")  
		Without him, this site wouldn't be beautiful!  
		He helped me design the logo, and did the original mockup of our template.
		The site has gone through a lot of design changes, and he's always there to give me advice.
		I'm no user interface expert, so I take what help I can get.
		
		## 3rd party credits
		
		If you really want to know *everything* I've used, you can just visit our github repository:
		- [github/drbawb/qrpsd](http://github.com/drbawb/qrpsd "github/drbawb/qrpsd")
		The Gemfile lists all the third party gems I've used.
		
		Some of the most important 3rd parties, that I'd like to thank:
		 - Rails, itself. This project wouldn't have happened without it. Believe me, I've tried.
		 - Devise. It just works out really well for me, and it has a lot of features!
		 - CanCan. It's a great authorization "framework", very flexible, *very* tiny, and very testable.
		 - Microsoft Visio - that tool is just ridiculous, man.
		 - Phusion Passenger - that server is just ridiculous, man. Seriously, I love this app server. I will do everything in my power to make this the "de facto standard" in Rails deployment.
		
		## Usage guide
		Meh, not much to say here. Basically the workflow is something like this:
		1.  Create a user account
		2.  If you are a GM, create a campaign. If you are a user, create a character and join a campaign.
		3.  GM: create grid.
		4.  Players: visit grid.
		5.  DEATTH BATTLLLLEEEEE...
			
		We're also working on an IRC bot to integrate with this, as well as a "rules parser" to aid in the creation of character sheets and statistics printouts.
		
		## Licensing
		The source for this is openly available to the public. View the latest licensing restrictions at [github/drbawb/qrpsd]

		## Contact
		If  you're interested in the project, drop me an email at: webtravesty [at] gmail (dot) com
		If you're interested, and a developer, just fork it on the github link above.

		